.indicators {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.indicator {
  width: ($gap / 2) * 7;
  height: ($gap / 2) * 7;
  margin: -$gap * 5 15px 0;
  box-shadow: 2px 2px 7px $color-dark;
  border-radius: 5%;
  outline: none;
  transition: 0.5s;
  filter: blur(0.6px);
  cursor: pointer;
  &:nth-child(1) {
    background-image: url(../img/image-1.jpg);
    background-size: cover;
  }
  &:nth-child(2) {
    background-image: url(../img/image-3.jpg);
    background-size: cover;
  }
  &:nth-child(3) {
    background-image: url(../img/image-2.jpg);
    background-size: cover;
  }
  &:nth-child(4) {
    background-image: url(../img/image-4.jpg);
    background-size: cover;
  }
  &:nth-child(5) {
    background-image: url(../img/image-5.jpg);
    background-size: cover;
  }
  &.active {
    transform: scale(1.2) translateY(-$gap / 2);
    box-shadow: 4px 4px $gap / 2 $color-dark;
    color: aliceblue;
    filter: none;
  }
}
